/* Reset & Base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", 'Segoe UI', sans-serif;
  font-weight: 500;
}

body {
  background-color: #fff;
}

/* Header & Navigation */
header {
  background-color: #ffffff;
  padding: 15px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  flex-wrap: wrap;
}

.logo {
  font-weight: bold;
  color: #0052a3;
  font-size: 24px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  transition: color 0.3s, border-bottom 0.3s;
}

nav ul li a:hover {
  color: #0052a3;
  border-bottom: 2px solid #0052a3;
  padding-bottom: 4px;
}

/* Sign In Button */
.join-btn {
  background-color: #0052a3;
  color: white;
  padding: 10px 16px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 3px;
  margin-top: 10px;
  text-decoration: none;
}
nav ul li a.active {
  color: #0052a3;
  border-bottom: 2px solid #0052a3;
  padding-bottom: 4px;
}

/* Back to Top Button */
#backToTopBtn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  background-color: #0052a3;
  color: white;
  border: none;
  cursor: pointer;
  padding: 12px 16px;
  border-radius: 50%;
  display: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

#backToTopBtn:hover {
  background-color: #003d7a;
}

/* Footer */
footer.site-footer {
  background-color: #111;
  color: #eee;
  padding: 50px 30px;
  font-size: 14px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
}

.footer-links a {
  color: #ccc;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #0052a3;
}

.footer-newsletter button {
  background-color: #0052a3;
}

.footer-newsletter button:hover {
  background-color: #003d7a;
}

/* Form elements styling */
.footer-newsletter h4 {
  font-size: 16px;
  margin-bottom: 6px;
  font-style: italic;
  letter-spacing: 0.1rem;
}
input[type=email] {
  background-color: inherit;
  color: #ccc;
  border: 2px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin: 10px 0px;
}
label {
  margin: 10px 0px;
  padding: 10px 0px;
}
button {
  margin: 10px 0px;
  background-color: inherit;
  padding: 7px 15px;
  border-radius: 15px;
  border-width: 4px;
}

/* Responsive Layout */
@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul {
    flex-direction: column;
    gap: 10px;
    margin: 10px 0;
  }

  .footer-container {
    flex-direction: column;
    align-items: flex-start;
  }
}
